/*👇👇👇 welcome 👇👇👇 */

.wel{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('./assets/images/welcome1.png'), lightgray 50% / cover no-repeat;
    backdrop-filter: blur(2px);
    object-fit: cover;
  }
.textwel{
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.textonl{
    font-size: 76px;
    font-style: normal;
    font-weight: 600;
}

  /* 👆👆👆 welcome 👆👆👆 */

  /*👇👇👇 signin 👇👇👇 */
.signin{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('./assets/images/welcome1.png'), lightgray 50% / cover no-repeat;
    backdrop-filter: blur(2px);
    object-fit: cover;
}
.signtext{
    font-size: 76px;
}
.admin{
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
}

.student{
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
}
/* .adminimg{
    height: auto;
    width: auto;
} */
  /* 👆👆👆 signin 👆👆👆 */


  /*👇👇👇 register 👇👇👇 */
.rtext{
    font-size: 48px;
}


  /* 👆👆👆 register 👆👆👆 */


  /*👇👇👇 homepage 👇👇👇 */
  .svnav{
    margin: 0;
    height: 100%;
    overflow-y: hidden;
  }

  .home{
    background-color: #5d7080;
    backdrop-filter: blur(10px);
  }
  .box{
    border: 1px solid black;
    height: 350px;
    width: 350px;
    background-color:#89a8c7;
  }

  .prfpic{
    border-bottom: 1px solid black;
    height: 170px;
    width: 350px;
  }

  /* 👆👆👆 homepage 👆👆👆 */





@media (max-width:576px) {
  .wel h1 {
    font-size: x-large;
  }
  

}