.main-section {
    background-color: #2d2f30;
    color: white;
    height: 90vh;
    overflow-x: hidden;
}
.heading {
    color:whitesmoke;
}
.hover-text{
    color:white;
}
.hover-text:hover{
    color:black;
}