ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 100%;
    background-color: #1b1a1d;
    /* border: 1px solid #ffffff; */
  }
  
  .a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: left;
    border-bottom: 1px solid rgb(124, 115, 115);
  }
  
  li:last-child {
    border-bottom: none;
  }
  
   .a.active {
    background-color: #000000 ;
    color: white;
  }
  
   .a:hover:not(.active) {
    background-color: rgb(109, 109, 109);
    color: rgb(0, 0, 0);
  }

  .tpnav{
    background-color: #1c1c1c;
    color:lightyellow;
    /* height: 50px; */
    /* font-size:x-large; */
    height: 15%;
    text-transform:capitalize;
    
  }

  .lmslink{
    text-decoration: none;
  }

.line{
  height: 3px;
  margin-bottom: 5px;
  background-color: #ffffff;
  width: 30px;
}

.sidebar{
  width: 40px;
  height: 100%;
  transition-duration: 1s;
  transition-property: width;
  background-color: #1b1a1d;
}

.sidebar:hover{
  width: 230px;
}